 .nav-link {
      color: #555;
      font-weight: 500;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      transition: background-color 0.3s ease;
    }

    .nav-link i {
      font-size: 20px;
      margin-right: 10px;
    }

    .nav-link:hover {
      background-color: #f1f1f1;
      color: #000;
    }

    .nav-link.active {
      background-color: #d1f8e4;
      color: #000;
      font-weight: bold;
    }
    
    body {
      font-family: 'Inter', sans-serif;
      background-color: #f8f9fa;
    }

    .img {
      max-width: 90%;
      height: auto;
    }

    
.dropdown.d-flex.align-items-center.ms-auto {
  gap: 15px;
}

/* Notificaciones */
.notifications a {
  color: #555;
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.notifications a i {
  font-size: 20px;
  margin-right: 0;
}

.notifications a:hover {
  background-color: #f1f1f1;
  color: #000;
}

/* Estilo del dropdown del perfil de usuario */
#userDropdown {
  padding: 10px 15px;
  font-weight: 500;
  color: #555;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#userDropdown i {
  font-size: 20px;
  margin-right: 10px;
}

#userDropdown:hover {
  background-color: #f1f1f1;
  color: #000;
}

/* Menú desplegable  */
.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container img{
  width: 100%;         /* Que ocupe todo el ancho de la tarjeta */
  height: 300px;       /* Altura fija */
  object-fit: cover;   /* Recorta la imagen sin deformarla */
  border-radius: 8px;  
}

.hacer-reporte{
  align-items: center;
  background-color: #00ac1dc0;
  color: #fff;
  font-weight: bold;
  padding: 5px 6px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  justify-content: end;
  
}

.hacer-reporte:hover {
  background-color: #008c1d;
  color: #fff;
}

